<!DOCTYPE html>
<html>
<head>
  <title>J</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>JJBlog Masters</h1>
  <div id='nav_bar'>
    <%= button_to 'Home', root_path, method: :get %>
    <% if session[:user_id] %>
      <%=button_to 'Log Out', logout_path, method: :delete %>
    <% else %>
      <%=button_to 'Log In', login_path, method: :get %>
      <%=button_to 'Sign Up', new_user_path, method: :get %>
    <% end %>
    <!-- Nice to see how you handle these links showing up. It's considered an anti-pattern to refer to session[:user_id]. Instead, you should have access to an instance variable that essentially does the same thing. (see note in Application Controller) -->
  </div>
</header>

<%= yield %>

</body>
</html>
